name: Tests

on: [ push, pull_request ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        php: [ 8.2, 8.3, 8.4, 8.5 ]

    name: P${{ matrix.php }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.composer/cache/files
          key: qa-${{ hashFiles('composer.json') }}-${{ matrix.php }}-${{ hashFiles('.github/workflows/run-tests.yml') }}
          restore-keys: qa-${{ hashFiles('composer.json') }}-${{ matrix.php }}-${{ hashFiles('.github/workflows/run-tests.yml') }}

      - uses: ramsey/composer-install@v2

      - name: Run PHPStan
        run: php vendor/bin/phpstan analyse --no-progress --no-interaction --no-ansi --memory-limit=-1

      - name: Execute tests
        run: php vendor/bin/phpunit
